In [2]:
import numpy as np
import torch
import torch.nn as nn
import pandas as pd
from sklearn.preprocessing import StandardScaler
from torch.utils.data import Dataset

In [5]:
# Load the dataset
data = pd.read_csv('diabetes.csv')

In [6]:
# Visualize dataset
data

,Number of times pregnant,Plasma glucose concentration,Diastolic blood pressure,Triceps skin fold thickness,2-Hour serum insulin,Body mass index,Age,Class
0,6,148,72,35,0,33.6,50,positive
1,1,85,66,29,0,26.6,31,negative
2,8,183,64,0,0,23.3,32,positive
3,1,89,66,23,94,28.1,21,negative
4,0,137,40,35,168,43.1,33,positive
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,63,negative
764,2,122,70,27,0,36.8,27,negative
765,5,121,72,23,112,26.2,30,negative
766,1,126,60,0,0,30.1,47,positive
767,1,93,70,31,0,30.4,23,negative

In [7]:
# Extract X , y
X = data.iloc[:,0:-1].values
y_string = data.iloc[:, -1].values

In [11]:
print(X.shape, y_string.shape)

(768, 7) (768,)

In [15]:
y_int = []
for entry in y_string:
    if entry =='positive':
        y_int.append(1)
    else:
        y_int.append(0)
y = np.array(y_int, dtype='float64')
print(y.shape)

(768,)